<!DOCTYPE html>
<html>
<head>
  <title>For The People</title>
  <link rel="stylesheet" type="text/css" href="css/styled.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="About.page.html">About Page<span class="sr-only">(current)</span></a>
            <link href="The Story.html"
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Information.html">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="SUBCRIBE.html">Subscribe</a>
          </li>
        </ul>
      </div>
    </nav>
  <main role="main" class="container">

    <div class="starter-template">
      <img src="Pictures/PicsArt_06-27-12.48.49.png" alt="" width="300px">
      <h1>About Page</h1>
      <p class="lead"<br> How we come about to creat these festival.</p>
    </div>
    <div class="card bg-dark text-white">
  <img src="Pictures/FirstFestival.jpg" class="card-img" alt="" width="200px" height="500px">
  <div class="card-img-overlay" width"100px">
    <h5 class="card-title">First Festival</h5>
    <p class="card-text">Over 5000 people attented New Beginnings Festival, were we successfully achieve our goal which was to bring excitement and joy ,to give people good memorie to remember FTP Festival by.The Festival was the start of more memories to come and to be made and to grow the FTP family.</p>
    <p class="card-text">Last updated 2 years ago.</p>
  </div>
</div>

  <br><p>Everyone loves music and maybe you get people that don't like music, ever if you don't listen music ForThePeople Festivals is still for you because provide for everyone. If we dont have the type of festivals you are looking for, don't be scared to just send us an email (<a href="contact.html">Contacts</a>) and we will see if we can acommandate you need.Our festivals are For The People and are runned by the people.Everyone is part of the FTP Family and we want everyone to be apart of it.</p>


    </main>
</body>
